{% extends 'base.html.twig' %}

{% set pagetitle = 'Welcome to Southern Ocean Decade & Polar Data Forum Week 2021' %}

{% macro frontblock(icon, label, link, value) %}
    <div class="statblock" title="{{label}}"><div onclick="window.location='{{ link }}'">
        <span class="icon icon-{{ icon }}"></span>
        <span class="value">{{ value }}</span>
        <span class="label">{{ label }}</span>
    </div></div>
{% endmacro %}


{% block head %}
    <div class="timezone"><span class="icon-clock"></span> All times are listed in UTC</div>
{% endblock %}


{% block side %}
{% if program %}
<div class="sticky">
</div>
{% endif %}
{% endblock %}

{% block body %}
<div class="dashboard">
{% if program %}
<h2>{{ program.status == 'future' ? 'Next' : 'Current' }} session: {{program}}</h2>
<div class="blocks">
<div class="outer left"><h3>Session info</h3><div class="inner">
<ul>
<li><a href="{{path('program_index')}}#{{ program.anchor }}">Session programme</a></li>
    {% for session in program.session %}
        {% for talk in session.presentations|filter((a) => a.type == 'posters') %}
            <li><a href="{{path('poster_index')}}#{{talk.PosterSession.anchor}}">Posters</a></li>
        {% endfor %}
    {% endfor %}
    </ul>
</div></div>

<div class="outer right"><h3>Help</h3>
<div class="inner">
<ul>
    <li><a href="{{path('zoom')}}">Live session (Zoom)</a></li>
    <li><a href="{{path('wonderme')}}">Coffee Room (Wonder.me)</a></li>
</ul>
</div>
</div>

<div class="outer">
<h3>Connect to live session</h3>
<div class="inner">
<table>
<tr><th>Quick connect link</th><td><a href="{{program.SessionUrl}}">Click here</a></td></tr>
<tr><th>Meeting id</th><td>{{program.ZoomId}}</td></tr>
<tr><th>Passcode</th><td>{{program.ZoomPass}}</td></tr>
</table>
The meeting room will open for participants at least 5 minutes before the session starts. The time listed above is the starting time of the session.
</div></div>

<div class="outer"><h3>Zoom chat etiquette</h3><div class="inner">
<ul>
    <li>Zoom chat is available during the live sessions.</li>
    <li>We kindly request that only questions about the current talk are publicly posted in the chat., using the ‘Chat to Everyone’ function.</li>
    <li>Please, refrain from saying hello or announcing your presence to everyone in the chat, since this could easily result in a very long list in which the questions to the presenters would be lost.</li>
    <li>During the poster sessions the chat can also be used to <a href="{{path('zoom')}}#breakout_host">ask to be moved to a breakout room</a></li>
    <li>In case of technical difficulties please send an email to <a href="mailto:imdis@seadatanet.org">imdis@seadatanet.org</a>.</li>
</ul></div></div>


<div class="outer"><h3>Coffee room</h3><div class="inner">As IMDIS2021 is online we are not able to provide drinks and snacks. We can however provide a place for the conversations that usually take place over coffee. You can join our coffee room on Wonder.me using the link that will be provided in the Zoom chat at the start of the coffee breaks.</div></div>

<div class="outer"><h3>Social media</h3><div class="inner">
<ul>
    <li>The hastag for Southern Ocean Decade & Polar Data Forum Week 2021 is #IMDIS2021</li>
    <li>If an author indicates certain content shouldn't be posted on social media please respect that</li>
</ul>
</div></div>


</div>
{% else %}
Southern Ocean Decade & Polar Data Forum Week 2021 has ended.
{% endif %}
</div>
{% endblock %}
