{% extends 'base.html.twig' %}

{% set pagetitle = '' %}

{% macro frontblock(icon, label, link, value, style) %}
    <div onclick="window.location='{{ link }}'"{% if style %} style="{{style}}"{% endif %}>
        <span class="icon icon-{{ icon }}"></span>
        <span class="value">{{ value }}</span>
        <span class="label">{{ label }}</span>
    </div>
{% endmacro %}

{% block body %}

<div class="stats">
    {{ _self.frontblock('bubbles', 'Sessions', path('theme_index'), themes|length) }}
    {{ _self.frontblock('file-text', 'Abstracts', path('imdis_abstract_index'), abstracts|length) }}
    {{ _self.frontblock('display', 'Oral Presentations', path('program_index'), abstracts|filter((a) => a.presentation)|length) }}
    {{ _self.frontblock('image', 'Posters', path('poster_index'), abstracts|filter((a) => a.poster)|length) }}
</div>
<div class="stats {% if app.user %}user{% endif%}">
    {{ _self.frontblock('users', 'Registrations', path('user_index'), users.total, 'float:left') }}
    {{ _self.frontblock('earth', 'Countries', path('user_index'), users.countries, 'float:right') }}

    {% if not app.user %}<div class="register" onclick="window.location='{{path('app_register')}}';"><span class="icon-user-plus"></span> Register now</div>{% endif %}
</div>
<div style="clear:both"></div>
{% endblock %}
