{{ form_start(form) }}
    {{form_row(form.name)}}
    <strong>People (name | sort | is presenting)</strong>
    <ul class="subform people" data-prototype="{{ form_widget(form.people.vars.prototype)|e('html_attr') }}">
    {% for chair in form.people %}
    <li>{{ form_row(chair) }}</li>
    {% endfor %}
    </ul><button type="button" class="add_item_link" data-collection-holder-class="people"><span class="icon-plus"></span> Add a person</button>
    </div>
    <br/><br/>
    <button class="btn"><span class="icon-floppy-disk"></span> {{ button_label|default('Save') }}</button>
    <div class="formEnd">
{{ form_end(form) }}
</div>