{% extends 'base.html.twig' %}

{% block title %}Committee index{% endblock %}

{% block body %}
    <h1>Committee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for committee in committees %}
            <tr>
                <td>{{ committee.id }}</td>
                <td>{{ committee.name }}</td>
                <td>
                    <a href="{{ path('committee_show', {'id': committee.id}) }}">show</a>
                    <a href="{{ path('committee_edit', {'id': committee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('committee_new') }}">Create new</a>
{% endblock %}
