<p>Hi {{user.name}},</p>

<p>Thank you for registering for IMDIS 2021. We have recorded the following details for you:</p>

<table>
<tr><th>Name</th><td>{{user.name}}</td></tr>
<tr><th>Affiliation</th><td>{{user.affiliation}}</td></tr>
<tr><th>Country</th><td>{{user.CountryName}}</td></tr>
<tr><th>Show my details</th><td>{% if user.ShowInList == 'public' %}For everybody{% elseif user.ShowInList == 'login' %}For other (logged in) participants{% else %}Only for organizers{% endif %}</td></tr>
{% if user.ShowInList != 'hidden' %}<tr><th>Show email for logged in users</th><td>{{user.ShowEmail ? 'Yes' : 'No' }}</td></tr>{% endif %}
</table>

<p>You can find the program and connection info for the sessions on <a href="https://{{ app.request.getHttpHost() }}">{{ app.request.getHttpHost() }}</a></p>
<p>We are looking forward to see you online at IMDIS 2021!</p>