<p>Thank you for registering for Polar Data Forum V. We have recorded the following details for you:</p>

<table class="table">
<tr><th>Name</th><td>{{user.name}}</td></tr>
<tr><th>Affiliation</th><td>{{user.affiliation}}</td></tr>
<tr><th>Country</th><td>{{user.country.name ?? '-'}}</td></tr>
<tr><th>E-mail</th><td>{{ user.email }}</td></tr>
<tr><th>Show my details</th><td>{% if user.ShowInList == 'public' %}For everybody{% elseif user.ShowInList == 'login' %}For other (logged in) participants{% else %}Only for organizers{% endif %}</td></tr>
{% if user.ShowInList != 'hidden' %}<tr><th>Show email for logged in users</th><td>{{user.ShowEmail ? 'Yes' : 'No' }}</td></tr>{% endif %}
{#<tr><th>Add me to IMDIS maillist</th><td>{{ user.maillist ? 'Yes' : 'No'}}</td></tr>
{% if user.registrationType == 'no' %}<tr><th>Are you a presenter?</th><td>No</td></tr>{% endif %}#}
</table>

<p><strong>You are registered for:</strong></p><ul>
{% for event in user.event %}
    <li>{{event}}</li>
{% else %}
<em>No events</em>
{% endfor %}
</ul>
{#
{% if user.registrationType != 'no' %}<h2>Presenter consent</h2>
    {% if user.presentations|length %}
    <h3>Oral presentation(s)</h3>
    <p>You have agreed to the speaker consent form for the presentation(s) as listed below.<br/>
    For more information on this consent form, please click <a href="{{ url('index') }}files/speaker_consent.pdf">here</a>.</p>
    <ul>
    {% for presentation in user.presentations %}<li>{{ presentation.presentation }}</li>{% endfor %}
    </ul>
    <p>You can find the oral presentation guidelines <a href="{{url('help', {'help': 'oral'})}}">here</a>.</p>
    {% endif %}
    {% if user.posters|length %}
    <h3>Poster presentation(s)</h3>
    <p>You have agreed to the poster presentation consent form for the posters(s) listed below and the pitch presentation(s) going along with them.<br/>
For more information on this consent form, please click <a href="{{ url('index') }}files/poster_consent.pdf">here</a>.</p>
    <ul>
    {% for poster in user.posters %}<li>{{ poster.poster }}</li>{% endfor %}
    </ul>
    <p>You can find the poster presentation guidelines <a href="{{url('help', {'help': 'poster'})}}">here</a>.</p>{% endif %}
    <h3>Sending in presentation files</h3>
    <p>Please send your files {{imdis.presentation_submission|raw}}</p>
{% endif %}
#}