{% extends 'base.html.twig' %}

{% set pagetitle = 'Register' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <p>Welcome to IMDIS 2021. Please fill in the form below. After completion of the form you will receive a link by email to verify your email address. After verification of your email address you can fill in your personal details in your profile.</p>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        
    <h3>Personal details</h3>
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.affiliation) }}
    {{ form_row(registrationForm.country) }}
    
    <h3>Terms and Privacy</h3>
    <p>IMDIS 2021 will be an online event using platforms like Zoom, google drive and youtube. Sessions can be recorded. By joining IMDIS 2021 you agree with the use of these platforms and the recording of sessions. IMDIS 2021 will not share your details as provided above with any of the use platforms.</p>
        {{ form_row(registrationForm.agreeTerms) }}
        
    {{ form_row(registrationForm.show_in_list)}}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
