{% extends 'base.html.twig' %}

{% set pagetitle=title ?? 'Working Groups' %}

{% block side %}
<div class="sticky">
{% if is_granted('ROLE_EDIT_PROGRAM') %}
    <div class="admin"><h3>Maintainance</h3>
    <ul>
    <li><a href="{{path('wg_index')}}">Manage</a></li>
    </ul>
</div>
{% endif %}
<div>
<h3>Working Groups</h3>
Working Groups have been set up for each of the Decade’s Societal Outcomes. WG meetings will set out to identify the needs of the Southern Ocean community in view of addressing the Southern Ocean priorities identified through the review and subsequent survey. The input from each Working Group will be synthesised into draft WG reports, which will then be jointly consulted by all stakeholders at the 2nd Southern Ocean Regional Workshop. Following the 2nd Southern Ocean Regional Workshop, the Task Force will review and finalize the Southern Ocean Action Plan.
</div>
</div>
{% endblock %}

{% block main %}
{% for wg in wgs %}
<h2><a href="{{path('wg_show', {slug:wg.slug})}}">{{wg.title}}</a></h2>
<p>{{wg.intro|raw}}... <a href="{{path('wg_show', {slug:wg.slug})}}">Read more</a></p>
<hr>
{% endfor %}
{% endblock %}