{% extends 'base.html.twig' %}

{% set pagetitle=wg.title ~ ' - Working Groups' %}

{% block main %}
<p><strong>{{wg.intro}}</strong></p>
{% if is_granted('ROLE_USER') and wg.descriptionRegistered %}
{{wg.descriptionRegistered|raw}}
{% else %}
{{wg.description|raw}}
{% endif %}

{% if wg.contact|length %}
<div>
<ul>
{% for contact in wg.contact %}
<li><strong>{{contact.name}}</strong>{% if contact.email %} - <a href="mailto:{{contact.email}}">{{contact.email}}</a>{% endif %}{% if contact.orcid %} - <a href="https://orcid.org/{{contact.orcid}}">{{contact.orcid}}</a>{% endif %}{% if contact.bio %}<br/>{{ contact.bio }}{% endif %}</li>
{% endfor %}
</ul>
</div>
{% endif %}


{% endblock %}

{% block side %}
<div class="sticky">
{% if is_granted('ROLE_EDIT_PROGRAM') %}
        <div class="admin"><h3>Maintainance</h3><ul>
        <li><a href="{{ path('wg_edit', {'id': wg.id}) }}">edit</a></li>
        </ul></div>
    {% endif %}

{% if wg.event|length %}
<div><ul>
{% for event in wg.event %}
<li>{{event}}</li>
{% endfor %}
</ul></div>
{% endif %}

{% if wg.presentations|length %}
<div><h3>Sessions</h3>
<div class="timezone"><span class="icon-clock"></span> All times are listed in UTC</div>
<ul>
{% for presentation in wg.presentations %}
<li>{% if is_granted(imdis.details_role) and presentation.meetingUrl %}<a href="{{ presentation.meetingUrl }}">{{presentation.programsession.block.date|date('l d F')}} {{presentation.timeStart|date('H:i')}} - {{presentation.timeEnd|date('H:i')}}</a> {% else %}{{presentation.programsession.block.date|date('l d F')}} {{presentation.timeStart|date('H:i')}} - {{presentation.timeEnd|date('H:i')}}{% endif %}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if is_granted(imdis.details_role) and wg.links|length %}
<div>
<h3>Documents</h3>
<ul>
{% for link in wg.links %}
<li><a href="{{ link.url }}">{{ link.label }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}

</div>
{% endblock %}