{% extends 'base.html.twig' %}

{% set pagetitle = 'Edit Presentation' %}

{% block javascripts %}
{{ encore_entry_script_tags('form') }}
{% endblock %}
    
{% block body %}
    <a href="{{ path('program_session_show', {'id': presentation.ProgramSession.id}) }}">Back to session</a>
    
    {{ include('presentation/_form.html.twig', {'button_label': 'Update'}) }}
    
    <h2>Presentation details (not updated when changing values above!)</h2>
    {% if presentation.abstract %}
        {{presentation.abstract}}<br/>
        {% for person in presentation.abstract.people %}{% if not loop.first %}, {% endif %}{% if person.isPresenter %}<strong>{{person.name}}</strong>{% else %}{{person.name}}{% endif %}{% endfor %}
    {% elseif presentation.presentationPeople %}
        {% for person in presentation.presentationPeople %}{% if not loop.first %}, {% endif %}{% if person.presenter %}<strong>{{person.name}}</strong>{% else %}{{person.name}}{% endif %}{% endfor %}
    {% endif %}
    
    <h3>Consent given by</h3><ul>
    {% for user in presentation.users %}
        <li>{{user.user.name}}, {{user.user.email}}</li>
    {% else %}
        <li>Nobody</li>
    {% endfor %}
    {# {{ include('presentation/_delete_form.html.twig') }} #}
{% endblock %}
