{% extends 'page_cols.html.twig' %}

{% set pagetitle = 'Program' %}

{% block head %}
    <div class="timezone"><span class="icon-clock"></span> All times are listed in CET (UTC+1)</div>
{% endblock %}

{% block side %}
    <div class="sticky">
    {% if is_granted('ROLE_MANAGER') %}
        <div><h4>Maintainance <span class="icon-lock"></span></h4><ul>
        <li><a href="{{path('program_block_index')}}">Edit program</a></li>
        </ul></div>
    {% endif %}
        <div><h4>Blocks</h4><ul>
        {% for block in program %}
            <li><a href="#{{ block.date|date('Ymd') }}{{ block.TimeStart|date('Hi') }}">{{ block }}</a></li>
        {% endfor %}
        </ul></div>
        <div>As IMDIS 2021 is online we have reduced the length of each talk. Authors have been given the option to record a longer version of their talk. If a recording is available this can be accessed through the camera icon (<span class="icon-video-camera"></span>).</div>
    </div>
{% endblock %}


{% block main %}
{%- for block in program %}
    {% if loop.index == 1 %}
        <div class="anchor"><a name="{{ block.date|date('Ymd') }}{{ block.TimeStart|date('Hi') }}"></a></div><table class="program">
    {% else %}
        <tr class="spacer"><td colspan="3"><a name="{{ block.date|date('Ymd') }}{{ block.TimeStart|date('Hi') }}"></a>&nbsp;</td></tr>
    {% endif %}
    <tr class="day"><td colspan="3"><h3>{{ block.date|date('l d F') }}</h3><span class="time">{{ block.TimeStart|date('H:i') }}</span> - <span class="time">{{ block.TimeEnd|date('H:i') }}</span> | TODO: opmaak <a href="{{block.SessionUrl}}">Join this session</a></td></tr>
    {%- for session in block.session %}
        <tr class="session">
            <td colspan="2"><h4>{% if session.theme %}Session {{session.theme }}: {{session.theme.tagline}} {% else %}{{ session.title }}{% endif %}</h4></td>
            <td>Chairs: {{session.chair|join(', ')}}</td>
        </tr>
        {%- for talk in session.presentations %}
            {% if talk.type == 'break / end' %}
                <tr class="break"><td class="time">{{ talk.TimeStart|date('H:i') }}</td><td colspan="2">{{talk.title}}</td></tr>
            {% elseif talk.type == 'posters' %}
                <tr class="postersession"><td class="time">{{ talk.TimeStart|date('H:i') }}</td><td colspan="2">Poster session {{ talk.PosterSession.theme|join(' / ') }}, <nobr><a href="{{path('poster_index')}}#{{ block.date|date('Ymd') }}{{ talk.PosterSession.TimeStart|date('Hi') }}">view posters here</a></nobr></td></tr>
            {% else %}
                <tr class="talk {% if talk.type == 'keynote' %}keynote{% endif %}">
                    <td><span class="time">{{ talk.TimeStart|date('H:i') }}</span>
                        {% if talk.VideoUrl %}
                            <div class="video"><a href="{{ talk.VideoUrl }}" title="Watch full presentation"><span class="icon-video-camera"></span></a></div>
                        {% endif %}
                    </td>
                    <td>
                        <span class="title">{{ talk.abstract.title ?? talk.title }}</span>
                        {# <span class="teaser">{{ talk.teaser }}</span> #}
                    </td>
                    <td class="authors">{% apply spaceless %}
                    {% if talk.abstract %}
                        {%- for person in talk.abstract.people %}
                        {%- if not loop.first %}{%- if not loop.last %}, {% else %} and {% endif %}{% endif %}
                            {%- if person.isPresenter %}
                                <span class="speaker">
                            {%- endif %}
                            {{ person.name }}
                            {# <sup>{{ person.person.affiliation }}</sup> #}
                            {%- if person.isPresenter %}
                                </span>
                            {%- endif %}
                        {% endfor %}
                    {% else %}
                    {%- for person in talk.presentationPeople %}
                        {%- if not loop.first %}{%- if not loop.last %}, {% else %} and {% endif %}{% endif %}
                            {%- if person.presenter %}
                                <span class="speaker">
                            {%- endif %}
                            {{ person.name }}
                            {%- if person.presenter %}
                                </span>
                            {%- endif %}
                        {% endfor %}
                    {% endif %}
                        {% endapply %}
                    </td>
                </div>
            {% endif %}
        {%- endfor %}
    {% endfor %}
{% endfor %}
</table>
{% endblock %}