{% extends 'base.html.twig' %}

{% set pagetitle = title ?? 'Programme' %}

{% from "base/blocks/shareButtons.twig" import shareButtons %}

{% block head %}
    <div class="timezone"><span class="icon-clock"></span> All times are listed in UTC</div>
{% endblock %}

{% block side %}
    <div class="sticky">
    {% if is_granted('ROLE_EDIT_PROGRAM') or is_granted('ROLE_CONSENT') %}
        <div class="admin"><h3>Maintainance</h3><ul>
        {% if is_granted('ROLE_EDIT_PROGRAM') %}<li><a href="{{path('program_block_index')}}">Edit programme</a></li>{% endif %}
        {% if is_granted('ROLE_CONSENT') %}<li><a href="{{path('presentation_consent')}}">View oral presenters consent list</a></li>{% endif %}
        </ul></div>
    {% endif %}
        {#<div><a href="{{ url('index') }}files/WORKINGNAME_programme.pdf"><span class="icon-download3"></span> Download the program as PDF</a>
        {% if is_granted(imdis.details_role) %}<br/><a href="{{ url('index') }}files/WORKINGNAME_chats.pdf"><span class="icon-download3"></span> Download the Questions and Answers from the chat</a>{% endif %}
        </div>#}
        <div><h3>Sessions</h3>
        {% set past = false %}
        {% set lastDate = null %}
        {% for block in program %}
            {% if block.status == 'past' %}
                {% set past = true %}
            {% endif %}
            {% if block.date!=lastDate %}
                {% set lastDate = block.date %}
                {% if not loop.first %}</ul><hr class="light"/>{% endif %}
                <h4>{{block.date|date('l d F')}}</h4>
                <ul>
            {% endif %}
            <li><a href="#{{ block.anchor }}">{{ block.timeStart|date('H:i') }} - {{ block.timeEnd|date('H:i') }} | {{ block.event|join(' & ')}}</a></li>
        {% endfor %}
        </ul></div>
        <div>{{ intro }}</div>
        {% if is_granted(imdis.details_role) %}<div>Click the <span class="icon-calendar"></span> calendar icon on a session to download the session and connection information as .ics file to import into your calendar. Most calendar applications will automatically convert the event to the timezone of your calendar application.</div>{% endif %}
        {% if past %}
            <div>
                Below the starting time of the past presentations you can find the following icons, these are links:<br/>
                <span class="icon-video-camera"></span> View the recorded presentation<br/>
                <span class="icon-images"></span> View PDF of slides (can include more slides than presented)
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block main %}
{% set shown = false %}
{%- for block in program %}
    {% if loop.index == 1 %}
        <div class="anchor"><a name="{{ block.anchor }}"></a></div><table class="program">
    {% else %}
        <tr class="spacer"><td colspan="2"><a name="{{ block.anchor }}"></a>&nbsp;</td></tr>
    {% endif %}
    <tr class="day"><td colspan="2">
        {% if is_granted(imdis.details_role) %}<div class="connect"><a href="{{ path('block_ics', {'block': block.anchor }) }}" title="Add to calendar"><span class="icon-calendar"></span><span class="nomobile"> Add to calendar</span></a></div>
        <div class="connect">{% if block.status == 'past' %}This session has ended{% elseif block.SessionUrl and shown==false %}<a href="{{block.SessionUrl}}"><span class="icon-link"></span> Join this session</a>{% set shown=true %}{% elseif block.SessionUrl %}Connection info not yet available{% endif %}</div>{% endif %}
        <h2>{{ block.date|date('l d F') }}</h2>
        <span class="time">{{ block.TimeStart|date('H:i') }}</span> - <span class="time">{{ block.TimeEnd|date('H:i') }}</span>
        {% if title is not defined %} | {{block.event|join(' & ')}}{% else %}{% set otherevent=block.event|filter((a) => a!=event) %}{% if otherevent|length %} | Together with {{otherevent|join(' & ')}}{% endif %}{% endif %}
    </td></tr>
    {%- for session in block.session %}
        <tr class="session">
            <td colspan="2"><h3>{% if session.theme %}Session {{session.theme }}: {{session.theme.tagline}} {% else %}{{ session.title }}{% endif %}</h3>
            {% if session.chair|length %}Chairs: {{session.chair|join(', ')}}{% endif %}{% if session.theme %}<br/>{{session.theme.abstracts|filter((a) => a.presentation)|length}} orals, {{session.theme.abstracts|filter((a) => a.poster)|length}} posters{% endif %}</td>
        </tr>
        {%- for talk in session.presentations %}
            {% if talk.type == 'break / end' %}
                <tr class="break"><td class="time">{{ talk.TimeStart|date('H:i') }}</td><td>{{talk.title}}</td></tr>
            {% elseif talk.type == 'posters' %}
                <tr class="postersession"><td class="time">{{ talk.TimeStart|date('H:i') }}</td><td>Poster session {{ talk.PosterSession.theme|join(' / ') }}, <nobr><a href="{{path('poster_index')}}#{{ block.date|date('Ymd') }}{{ talk.PosterSession.TimeStart|date('Hi') }}">view posters here</a></nobr></td></tr>
            {% elseif talk.type == 'hackathon' %}
                <tr class="hackathon"><td class="time">{{ talk.TimeStart|date('H:i') }}</td><td><span class="id">{% if is_granted('ROLE_EDIT_PROGRAM') %}<a href="{{path('presentation_edit', {'id': talk.id})}}"><span class="icon-pencil"></span></a></li>{% endif %}</span><a href="{{path('hackathon_show', {slug: talk.hackathon.slug})}}">{{ talk.hackathon }}</a><br/>Hackathon | {{ talk.TimeStart|date('H:i') }} - {{ talk.TimeEnd|date('H:i') }}</td></tr>
            {% else %}
                <tr class="talk {% if talk.type == 'keynote' %}keynote{% endif %}">
                {% set anchor = talk.abstract.ImdisId ?? (block.date|date('d') ~ talk.timeStart|date('Hi')) %}
                    <td><a class="anchor" name="{{anchor}}"></a><span class="time">{{ talk.TimeStart|date('H:i') }}</span>
                        {% if is_granted(imdis.details_role) and block.status == 'past' %}
                            <div class="media">
                            {% if talk.VideoUrl %}
                            <a href="{{ talk.VideoUrl }}" title="Watch presentation"><span class="icon-video-camera"></span></a>
                            {% endif %}
                            {% if talk.SlidesUrl %}
                            <a href="{{ talk.SlidesUrl }}" title="View slides"><span class="icon-images"></span></a>
                            {% endif %}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {{ shareButtons(url('program_index') ~ '#' ~ anchor, talk.abstract.title ?? talk.title) }}
                        <span class="id">{% if talk.abstract %}{{talk.abstract.ImdisId}}{% endif %} {% if is_granted('ROLE_EDIT_PROGRAM') %}<a href="{{path('presentation_edit', {'id': talk.id})}}"><span class="icon-pencil"></span></a></li>{% endif %}</span>
                        <span class="title">{% if talk.abstract and talk.abstract.url %}<a href="{{talk.abstract.url}}">{{ talk.abstract.title }}</a>{% else %}{{ talk.abstract.title ?? talk.title }}{% endif %}</span>
                    <span class="authors">{% apply spaceless %}
                    {% if talk.abstract %}
                        {%- for person in talk.abstract.people %}{%- if not loop.first %}{%- if loop.last %} and {% else %}, {% endif %}{% endif %}{%- if person.isPresenter %}<span class="speaker">{%- endif %}{{ person.name }}{%- if person.isPresenter %}</span>{%- endif %}{% endfor %}
                    {% else %}
                    {%- for person in talk.presentationPeople %}{%- if not loop.first %}{%- if not loop.last %}, {% else %} and {% endif %}{% endif %}{%- if person.presenter %}<span class="speaker">{%- endif %}{{ person.name }}{%- if person.presenter %}</span>{%- endif %}{% endfor %}
                    {% endif %}
                        {% endapply %}
                        </span>
                    </td>
                </div>
            {% endif %}
        {%- endfor %}
    {% endfor %}
{% endfor %}
</table>
{% endblock %}