{% extends 'base.html.twig' %}

{% set pagetitle='Block ' ~ program_block %}

{% block body %}
<p><a href="{{ path('program_block_index') }}">back to list</a></p>
<div class="controls"><button onclick="window.location.href='{{ path('program_block_edit', {'id': program_block.id}) }}'"><span class="icon-pencil"></span> Edit</button> {{ include('program/_delete_form.html.twig') }}</div>

<table class="table">
    <tbody>
        <tr>
            <th>Url</th>
            <td>{{ program_block.sessionUrl }}</td>
        </tr>
    </tbody>
</table>

<h2>Sessions</h2>

<table class="table">
<thead><tr><th>Start</th><th>Title / theme</th><th>Chairs</th><th>Actions</th></tr></thead>
{% for session in program_block.session %}
<tr><td>{{session.TimeStart|date('H:i') }}</td><td>{{session.title ?? session.theme.title}}</td><td>{{ session.chair|join(', ')}}</td><td><button onclick="window.location.href='{{ path('program_session_show', {'id': session.id}) }}'">view</button> <button onclick="window.location.href='{{ path('program_session_edit', {'id': session.id}) }}'"><span class="icon-pencil"></span>edit</button></td></tr>
{% endfor %}
</table>
<button onclick="window.location.href='{{ path('program_block_session', {'id': program_block.id}) }}'"><span class="icon-plus"></span> Add session</button>
{% endblock %}
