<div id="top">
    <div class="content">
        <div class="session">
            {% if app.user %}
                You are logged in as <a href="{{path('user_self')}}">{{app.user.name ?? app.user.email }}</a>, <a href="{{path('app_logout')}}">Log out</a>
            {% else %}
                <a href="{{path('app_login')}}">Log in</a>{% if imdis.registration_status == 'open' %} / <a href="{{path('app_register')}}">Register</a>{% endif %} 
            {% endif %}
        </div>
        {#<a href="https://imdis.seadatanet.org"><img src="/img/logo.png" /></a>#}
        <h1>Southern Ocean Decade & Polar Data Forum Week 2021</h1>
        <span class="period">Online, 20 - 24 September 2021</span>
        <span class="tagline">An Ocean Of Opportunities</span>
    </div>
</div>