{% extends "base.html.twig" %}

{% set pagetitle = 'Abstracts' %}

{% block head %}
    <div class="timezone"><span class="icon-clock"></span> All times are listed in UTC</div>
{% endblock %}

{% block side %}
    <div class="sticky">
    {% if is_granted('ROLE_EDIT_PROGRAM') %}
        <div class="admin"><h3>Maintainance</h3><ul>
        <li><a href="{{path('imdis_abstract_manage')}}">Edit abstracts</a></li>
        </ul></div>
    {% endif %}
    <div>
    <h3>Sessions</h3>
    <ul>
    {% for theme in themes %}
    <li><a href="#{{theme.title}}">{{theme.title}}</a></li>
    {% endfor %}
    </ul>
    </div>
    </div>
{% endblock %}

{% block main %}
    {% for theme in themes %}
        {% if loop.index == 1 %}
            <div class="anchor"><a name="{{ theme.title }}"></a></div><table class="abstracts table">
        {% else %}
            <tr class="spacer"><td colspan="2"><a name="{{ theme.title }}"></a>&nbsp;</td></tr>
        {% endif %}
        
        <tr class="day"><td colspan="4"><h2>{{theme.title}}: {{theme.tagline}}</h2>{{theme.abstracts|filter((a) => a.presentation)|length}} presentations</td></tr>
        {% for abstract in theme.abstracts %}
            <tr><td><span class="id">#{{ abstract.ImdisId}}</span><a href="{{path('imdis_abstract_show', {'imdisId':abstract.imdisId}) }}">{{abstract.title}}</a><div class="authors">{%- for person in abstract.people %}{%- if not loop.first %}{%- if not loop.last %}, {% else %} and {% endif %}{% endif %}{%- if person.isPresenter %}<span class="speaker">{%- endif %}{{ person.name }}{%- if person.isPresenter %}</span>{%- endif %}{% endfor %}</div></td><td class="time">
                        {% if abstract.presentation %}
                            <span>{{abstract.presentation.ProgramSession.block.date|date('l d F')}}</span> <span>{{abstract.presentation.TimeStart|date('H:i')}} | Oral</span>
                        {% elseif abstract.poster %}
                            <span>{{abstract.poster.PosterSession.date|date('l d F')}}</span> <span>{{abstract.poster.PosterSession.TimeStart|date('H:i')}} | Poster</span>
                        {% else %}
                            <span>Not scheduled yet</span>
                        {% endif%}</td></tr>
        {% endfor %}
    {% endfor %}
    </table>

{% endblock %}