{% extends "base.html.twig" %}

{% set pagetitle = 'Abstracts' %}

{% block head %}
    <div class="timezone"><span class="icon-clock"></span> All times are listed in CEST (UTC+2)</div>
{% endblock %}

{% block side %}
    <div class="sticky">
    {% if is_granted('ROLE_MANAGER') %}
        <div><h3>Maintainance <span class="icon-lock"></span></h3><ul>
        <li><a href="{{path('imdis_abstract_manage')}}">Edit abstracts</a></li>
        </ul></div>
    {% endif %}
    <div>
    <h3>Sessions</h3>
    <ul>
    {% for theme in themes %}
    <li><a href="#{{theme.title}}">{{theme.title}}</a></li>
    {% endfor %}
    </ul>
    </div>
    </div>
{% endblock %}

{% block main %}
    {# <table class="abstracts"><thead><tr><th>id</th><th>Title</th><th>Authors</th><th>Presentation</th></tr></thead> #}
    {% for theme in themes %}
        {% if loop.index == 1 %}
            <div class="anchor"><a name="{{ theme.title }}"></a></div><table class="abstracts">
        {% else %}
            <tr class="spacer"><td colspan="3"><a name="{{ theme.title }}"></a>&nbsp;</td></tr>
        {% endif %}
        
        <tr class="day"><td colspan="3"><h2>{{theme.title}}: {{theme.tagline}}</h2>{{theme.abstracts|filter((a) => a.presentation)|length}} orals, {{theme.abstracts|filter((a) => a.poster)|length}} posters</td></tr>
        {% for abstract in theme.abstracts %}
            <tr>{#<td>{{abstract.theme.id}}-{{ abstract.ImdisId}}</td>#}<td><a href="{{path('imdis_abstract_show', {'id':abstract.id}) }}">{{abstract.title}}</a></td><td class="authors">{%- for person in abstract.people %}{%- if not loop.first %}{%- if not loop.last %}, {% else %} and {% endif %}{% endif %}{%- if person.isPresenter %}<span class="speaker">{%- endif %}{{ person.name }}{%- if person.isPresenter %}</span>{%- endif %}{% endfor %}</td><td>
                        {% if abstract.presentation %}
                            Oral | {{abstract.presentation.ProgramSession.block.date|date('l d F')}} {{abstract.presentation.TimeStart|date('H:i')}}
                        {% elseif abstract.poster %}
                            Poster | {{abstract.poster.PosterSession.date|date('l d F')}} {{abstract.poster.PosterSession.TimeStart|date('H:i')}}
                        {% else %}
                            Not scheduled yet
                        {% endif%}</td></tr>
        {% endfor %}
    {% endfor %}
    </table>

{% endblock %}