<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% if app.environment == 'dev' %}[DEV] {% endif %}{{ pagetitle ?? 'Welcome' }}{% if pagetitle is not defined or pagetitle != '' %} | {% endif %}SO Decade & PDF IV Week 2021 | 20 - 24 September 2021 | online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Marten Tacoma, NIOZ Royal Netherlands Institute for Sea Research">
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/style/icomoon/style.css?v20210618" media="screen"/>
            {{ encore_entry_link_tags('app') }}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
        {% if app.environment == 'dev' %}<style>#top, #menu {background: darkorange}</style>{% endif %}
    </head>
    <body tabIndex=0>
        {% include 'base/blocks/top.twig' %}
        {% include 'base/blocks/menu.twig' %}
        <div id="content">
            <div class="content">
                <h1>{{ pagetitle ?? 'Welcome' }}</h1>
                {# <div class="takedown">This website is a under construction. No guarantee can be given that information on this website is accurate.</div> #}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% block head %}{% endblock %}
        
                {% block body %}
                    <div class="cols reverse">
                        <div class="side">{% block side %}{% endblock %}</div>
                        <div class="main">{% block main %}{{ content }}{% endblock %}</div>
                    </div>
                {% endblock %}
            </div>
        </div>
        {% include 'base/blocks/foot.twig' %}
    </body>
</html>
