{% extends 'base.html.twig' %}

{% set pagetitle = 'Manage posters' %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Theme</th>
                <th>Video</th>
                <th>Comment</th>
                <th>Preview</th>
                <th>Download</th>
                <th>Session</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poster in posters %}
            <tr>
                <td>{{ poster.abstract.ImdisId }}</td>
                <td>{{ poster.abstract.title }}</td>
                <td>{{ poster.abstract.theme }}</td>
                <td style="text-align:center">{% if poster.videoUrl %}<span class="icon-checkmark link-ok"></span>{% endif %}</td>
                <td style="text-align:center">{% if poster.commentUrl %}<span class="icon-checkmark link-ok"></span>{% endif %}</td>
                <td style="text-align:center">{% if poster.previewUrl %}<span class="icon-checkmark link-ok"></span>{% endif %}</td>
                <td style="text-align:center">{% if poster.downloadUrl %}<span class="icon-checkmark link-ok"></span>{% endif %}</td>
                <td style="text-align:center">{% if poster.sessionUrl %}<span class="icon-checkmark link-ok"></span>{% endif %}</td>
                <td>
                    <a href="{{ path('poster_show', {'id': poster.id}) }}">show</a>
                    <a href="{{ path('poster_edit', {'id': poster.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('poster_new') }}">Create new</a>
{% endblock %}
