{% extends "base.html.twig" %}

{% from "base/blocks/shareButtons.twig" import shareButtons %}

{% set pagetitle = 'Posters' %}

{% block head %}
    <div class="timezone"><span class="icon-clock"></span> All times are listed in CEST (UTC+2)</div>
{% endblock %}

{% block side %}
    <div class="sticky">
    {% if is_granted('ROLE_MANAGER') %}
        <div class="admin"><h3>Maintainance <span class="icon-lock"></span></h3><ul>
        <li><a href="{{path('poster_manage')}}">Edit posters</a></li>
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{path('poster_session_index')}}">Edit poster sessions</a></li>
        {% endif %}
        <li><a href="{{path('poster_consent')}}">View poster presenters consent list</a></li>
        </ul></div>
        
        <div class="admin"><h3>Room list</h3>
        <ul>{% for block in posters %}
            <li><a href="{{ path('poster_session_room', {'id': block.id}) }}">{{ block }}</a></li>
        {% endfor %}
        </ul></div>
    {% endif %}
        <div><h3>Blocks</h3><ul>
        {% for block in posters %}
            <li><a href="#{{ block.date|date('Ymd') }}{{ block.TimeStart|date('Hi') }}">{{ block }}</a></li>
        {% endfor %}
        </ul></div>
        

        <div><span class="mobile">When an icon is dark a link is available, you can click the icon to open the link. If the icon is light no link is available.<br/></span>
            During the poster session each poster will have a breakout room in zoom. You will be able to select breakout rooms yourself and move between rooms. The room name will be the id (the number on the right) and the start of the title of the poster.<br/>
            <span class="icon-video-camera"></span> All authors have been given the option to record a pitch video to present their poster.<br/>
            <span class="icon-bubble"></span> Using this link you can leave comments on the poster on Google Drive. Please leave your name with your comments.
            </div>
    </div>
{% endblock %}

{% block main %}
    <div class="posters">
    {% for block in posters %}
    <div class="anchor{% if loop.first %} first{%endif%}"><a name="{{ block.date|date('Ymd') }}{{ block.TimeStart|date('Hi') }}"></div></a><div class="day"><h2>{{ block.date|date('l d F') }} | {% for theme in block.theme %}{% if not loop.first %} / {% endif %}{{theme}}{% endfor %}</h2><span class="time">{{ block.TimeStart|date('H:i') }}</span> - <span class="time">{{ block.TimeEnd|date('H:i') }}</span></div>
    {% for poster in block.posters %}
    <section id="poster{{poster.abstract.ImdisId}}">
        <a class="anchor" name="{{poster.abstract.ImdisId}}"></a>
        <div class="poster">
            <div class="main">
                {{ shareButtons(url('poster_index') ~ '#' ~ poster.abstract.ImdisId, poster.abstract.title) }}
                <div class="id">{{ poster.abstract.ImdisId }}</div>
                <div class="title">{% if poster.abstract.url %}<a href="{{poster.abstract.url}}">{{ poster.abstract.title }}</a>{% else %}{{ poster.abstract.title }}{% endif %}</div>
                <div class="authors">{% apply spaceless %}
                    {%- for person in poster.abstract.people %}{%- if not loop.first %}{%- if not loop.last %}, {% else %} and {% endif %}{% endif %}{%- if person.isPresenter %}<span class="speaker">{%- endif %}{{ person.name }}{%- if person.isPresenter %}</span>{%- endif %}{% endfor %}
                    
                {% endapply %}</div>
                <div class="interactive">
            {% if is_granted('ROLE_USER') %}
                {% if poster.VideoUrl %}
                    <div class="video">
                        <a href="{{ poster.VideoUrl }}">
                            <span class="icon-video-camera"></span>
                            <span class="label">Pitch video</span>
                        </a>
                    </div>
                {% else %}
                    <div class="video none">
                        <span class="icon-video-camera"></span>
                        <span class="label">Pitch video</span>
                    </div>
                {% endif %}
                {% if poster.CommentUrl %}
                    <div class="comment">
                        <a href="{{ poster.CommentUrl }}">
                            <span class="icon-bubble"></span>
                            <span class="label">Comments</span>
                        </a>
                    </div>
                {% else %}
                    <div class="comment none">
                        <span class="icon-bubble"></span>
                        <span class="label">Comments</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
            </div>
            {% if not (poster.preview.name or poster.DownloadUrl) %}
                <div class="preview noposter"></div>
            {% else %}
                <div class="preview">
                {% if poster.preview.name %}
                    <img src="{{ vich_uploader_asset(poster, 'previewFile') }}" />
                {% else %}
                    No preview available
                {% endif %}
                {% if not is_granted('ROLE_USER') %}
                {% elseif poster.DownloadUrl %}
                    <a href="{{ poster.DownloadUrl }}"><span class="icon-download3"></span> <span>Download poster</span></a>
                {% else %}
                    No download available
                {% endif %}
                </div>
            {% endif %}
        </div>
        </section>
    {% endfor %}
    {% endfor %}
    </div>
{% endblock %}