{% extends 'base.html.twig' %}

{% if admin %}
    {% set pagetitle = 'Registrations admin ' ~ eventName %}
{% else %}
    {% set pagetitle = 'Registrations ' ~ eventName %}
{% endif %}

{% block side %}
<div class="sticky">
    {% if not admin %}
        {% if is_granted('ROLE_ALL_REGISTRATIONS') %}
                <div class="admin"><h3>Maintainance</h3><ul>
                <li><a href="{{ event ? path('user_event_admin', {'event': event.slug}) : path('user_admin')}}">Manage registrations</a> (and view hidden info)</li>
                </ul></div>
            {% endif %}
        {% if is_granted('ROLE_USER') %}
            <div><a href="{{path('user_self')}}">My registration</a>{% if app.user.ShowInList == 'hide' %}<br/><em>As you have requested not to be included in the registration list your are not included in the list on this page</em>{% endif %}</div>
        {% endif %}
    {% endif %}
    
    <div>
    {% if admin %}
        <a href="{{ event ? path('user_csv_event', {'event': event.slug}) : path('user_csv')}}">Download as csv</a>
    </div>
    <div>
        <h2>Statistics</h2>
        <table class="table" style="width:100%">
            <tr><th>Number of registrations</th><td>{{ stats.total }}</td></tr>
            <tr><th>Public visible registrations</th><td>{{ stats.public}}</td></tr>
            <tr><th>Registration only visible when logged in</th><td>{{ stats.login}}</td></tr>
            <tr><th>Hidden registrations</th><td>{{ stats.hide}}</td></tr>
            <tr><th>Countries</th><td>{{ stats.countries }}</td></tr>
            <tr><th>Registrations without country</th><td>{{ stats.no_country }}</td></tr>
        </table>
    {% else %}
        There are {{stats.total}} registrations for {{eventName}}. So far we expect participants from {{stats.countries}} different countries.

        {% if stats.hide > 0 or (stats.login > 0 and not is_granted('ROLE_USER')) %}</div><div>
            Not all registrations are displayed as some participants have chosen not to be listed.
        {% endif %}
    {% endif %}
    </div>

    {% if not event %}
        <div>
            <h2>Registrations per event</h2>
            <table class="table" style="width:100%">
            {% for e in events %}
                <tr><th><a href="{{ path(admin ? 'user_event_admin' : 'user_index', {'event': e.slug}) }}">{{ e.name }}</a></th><td>{{ e.users|length }}</td></tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if stats.countries > 0 %}
        <div>
            {% include 'user/map.html.twig' %}
        </div>
    {% endif %}
</div>
{% endblock %}


{% block main %}
{% if admin %}
<p>You are now in the admin view. Be aware that you can now see all details, even of participants who have opted to not be listed in the online participants list. The records/fields that are not available for all participants are indicated <span class="adminOnly">like this</span>.</p>
{% endif %}
    <p class="desktop">To sort on a column click the column header, to sort descending click the header again.</p>
    <table class="table registration" style="width:100%">
        <thead>
            <tr>
                <th><a href="?sort=name&amp;dir={% if sort=='name' and dir=='asc' %}desc{% else %}asc{% endif %}"{% if sort=='name' %} class="sort-{{dir}}"{% endif %}>Name</a></th>
                <th><a href="?sort=affiliation&amp;dir={% if sort=='affiliation' and dir=='asc' %}desc{% else %}asc{% endif %}" {% if sort=='affiliation' %} class="sort-{{dir}}"{% endif %}>Affiliation</a></th>
                <th><a href="?sort=country&amp;dir={% if sort=='country' and dir=='asc' %}desc{% else %}asc{% endif %}"{% if sort=='country' %} class="sort-{{dir}}"{% endif %}>Country</a></th>
                {% if is_granted('ROLE_USER') %}
                    <th><a href="?sort=email&amp;dir={% if sort=='email' and dir=='asc' %}desc{% else %}asc{% endif %}"{% if sort=='email' %} class="sort-{{dir}}"{% endif %}>E-mail</a></th>
                    {% if admin %}
                        <th><a href="?sort=registration_time&amp;dir={% if sort=='registration_time' and dir=='asc' %}desc{% else %}asc{% endif %}"{% if sort=='registration_time' %} class="sort-{{dir}}"{% endif %}>Registered</a></th>{% if is_granted('ROLE_ADMIN') %}<th></th>{% endif %}
                    {% endif %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if admin or user.showInList == 'public' or (user.showInList == 'login' and is_granted('ROLE_USER')) %}
                <tr {% if not (user.showInList == 'public' or (user.showInList == 'login' and is_granted('ROLE_USER'))) %} class="adminOnly" {% endif %}>
                    <td class="name">{% if admin %}<a href="{{path('user_show', {'id': user.id})}}">{{ user.name }}</a>{% else %}{{ user.name }}{% endif %}</td>
                    <td class="affiliation">{{ user.affiliation }}</td>
                    <td class="country">{{ user.country.name ?? '-' }}</td>
                    {% if is_granted('ROLE_USER') %}
                        <td class="email {% if admin and not user.ShowEmail %} adminOnly{% endif %}">{% if admin or user.ShowEmail %}<a href="mailto:{{ user.email }}">{{user.email}}</a>{% endif %}</td>
                        {% if admin %}
                            <td class="registered">{{ user.registrationTime ? user.registrationTime|date('Y-m-d H:i:s') : '' }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td class="edit">{% if user.RoleLabels|length > 0 %}
                                    <span class="icon-key" title="{{ user.RoleLabels|join(', ')}}"></span>
                                {% endif %} <a href="{{ path('user_edit', {'id': user.id}) }}"><span class="icon-pencil"></span></a></td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}