{% extends 'base.html.twig' %}

{% if admin %}
    {% set pagetitle = 'Registrations admin' %}
{% else %}
    {% set pagetitle = 'Registrations' %}
{% endif %}

{% block side %}
<div class="sticky">
{% if not admin %}
    {% if is_granted('ROLE_ALL_REGISTRATIONS') %}
            <div class="admin"><h3>Maintainance <span class="icon-lock"></span></h3><ul>
            <li><a href="{{path('user_admin')}}">Manage registrations</a> (and view hidden info)</li>
            </ul></div>
        {% endif %}
    {% if is_granted('ROLE_USER') %}
        <div><a href="{{path('user_self')}}">My registration</a>{% if app.user.ShowInList == 'hide' %}<br/><em>As you have requested not to be included in the registration list your are not included in the list on this page</em>{% endif %}</div>
    {% endif %}
{% endif %}
<div>
{% if admin %}
<a href="{{path('user_csv')}}">Download as csv</a>
</div>
<div>
<h2>Statistics</h2>
<table class="table" style="width:100%">
    <tr><th>Number of registrations</th><td>{{ stats.total }}</td></tr>
    <tr><th>Public visible registrations</th><td>{{ stats.public}}</td></tr>
    <tr><th>Registration only visible when logged in</th><td>{{ stats.login}}</td></tr>
    <tr><th>Hidden registrations</th><td>{{ stats.hide}}</td></tr>
    <tr><th>Countries</th><td>{{ stats.countries }}</td></tr>
    <tr><th>Registrations without country</th><td>{{ stats.no_country }}</td></tr>
</table>
{% else %}
There are {{stats.total}} registrations for IMDIS 2021. So far we expect participants from {{stats.countries}} different countries.

{% if stats.hide > 0 or (stats.login > 0 and not is_granted('ROLE_USER')) %}</div><div>
    Not all registrations are displayed as some participants have chosen not to be listed.{% endif %}
{% endif %}
</div>
<div class="worldMap">
    <div class="close"><span class="icon-cross"></span></div>
    <div class="map"><svg xmlns:mapsvg="http://mapsvg.com" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" mapsvg:geoViewBox="-169.110266 83.600842 190.486279 -58.508473" viewbox="0 0 1000 665" xmlns:xlink="http://www.w3.org/1999/xlink">
   {% set bins = colorscale|length %}
   {% set x_length = 250 %}
   {% set x_start = 20 %}
   {% set x_end = x_start + x_length %}
   {% set x_step = x_length / bins %}
   
   {# horizontal legend #}
   {# <text x="5" y="630" font-weight="bold" fill="black" font-size="10">Number of particpants per country</text>
   <rect x="5" y="650" width="10" height="10" fill="#e3e3e3" />
   <text x="10" y="645" font-size="9" fill="black" text-anchor="middle">0</text> 
   {% for color in colorscale %}
    {% set x1 = x_start + (x_step * (loop.index - 1)) %}
    <rect x="{{ x1 }}" y="650" width="{{ x_step }}" height="10" fill="{{color}}" />
    <text x="{{ x1 + x_step / 2}}" y="645" font-size="9" fill="black" text-anchor="middle">{{limits[loop.index]}}</text>  
   {% endfor %}#}
   
   {# vertial legend #}
   {# <text x="5" y="{{635 - (colorscale|length) * 25}}" font-weight="bold" fill="black" font-size="10">Number of particpants per country</text>
   <rect x="5" y="{{640 - (colorscale|length) * 25}}" width="20" height="20" fill="#e3e3e3" />
   <text x="30" y="{{654 - (colorscale|length) * 25}}" font-size="9" fill="black">0</text> 
   {% for color in colorscale %}
    {% set y = 640 - (colorscale|length - loop.index) * 25 %}
    <rect x="5" y="{{y}}" width="20" height="20" fill="{{color}}" />
    <text x="30" y="{{y + 14}}" font-size="9" fill="black">{{limits[loop.index]}}</text>
   {% endfor %} #}
   
    {# horizontal gradient scale #}
    <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:rgb({{colors.min.r}}, {{colors.min.g}}, {{colors.min.b}})" />
      <stop offset="100%" style="stop-color:rgb({{colors.max.r}}, {{colors.max.g}}, {{colors.max.b}})" />
    </linearGradient>
  </defs>
   <text x="5" y="630" font-weight="bold" fill="black" font-size="10">Number of particpants per country</text>
   <rect x="5" y="650" width="10" height="10" fill="#e3e3e3" />
   <text x="10" y="645" font-size="9" fill="black" text-anchor="middle">0</text> 

   <rect x="25" y="650" width="200" height="10" fill="url(#grad1)" />
   {% for label,pos in labels %}
   <text x="{{ 25 + pos * 200 }}" y="645" font-size="9" fill="black" text-anchor="middle">{{label}}</text> 
   {% endfor %}
   {# <text x="225" y="645" font-size="9" fill="black" text-anchor="middle">{{maxRegs}}</text>  #}
<text x="780" y="650" font-size="9" fill="#999">IMDIS 2021 - Participants' countries</text> 
<text x="780" y="659" font-size="9" fill="#999">Basemap: CC-BY - <a xlink:href="https://mapsvg.com/maps/world" target="_blank">https://MapSVG.com/maps/world</a></text></svg></div>
    <style>
    {% for country in countries %}
        #{{country.id}} {
            fill: {{country.color}}
        }
    {% endfor %}
    </style>
    <script style="text/javascript">
    var registrations = {
    {% for country in countries %}{% if not loop.first %},{% endif %}'{{country.id}}': {{country.registrations}}{% endfor %}
    }</script>
    <div class="open">Click the map for a larger view</div>
    <div id="toolTip">TEST</div>
</div>

</div>
{% endblock %}



{% block main %}
{% if admin %}
<p>You are now in the admin view. Be aware that you can now see all details, even of participants who have opted to not be listed in the online participants list. The records/fields that are not available for all participants are indicated <span class="adminOnly">like this</span>.</p>
{% endif %}
    <p class="desktop">To sort on a column click the column header, to sort descending click the header again.</p>
    <table class="table registration" style="width:100%">
        <thead>
            <tr>
                <th><a href="?sort=name&amp;dir={% if sort=='name' and dir=='asc' %}desc{% else %}asc{% endif %}"{% if sort=='name' %} class="sort-{{dir}}"{% endif %}>Name</a></th>
                <th><a href="?sort=affiliation&amp;dir={% if sort=='affiliation' and dir=='asc' %}desc{% else %}asc{% endif %}" {% if sort=='affiliation' %} class="sort-{{dir}}"{% endif %}>Affiliation</a></th>
                <th><a href="?sort=country&amp;dir={% if sort=='country' and dir=='asc' %}desc{% else %}asc{% endif %}"{% if sort=='country' %} class="sort-{{dir}}"{% endif %}>Country</a></th>
                {% if is_granted('ROLE_USER') %}
                    <th><a href="?sort=email&amp;dir={% if sort=='email' and dir=='asc' %}desc{% else %}asc{% endif %}"{% if sort=='email' %} class="sort-{{dir}}"{% endif %}>E-mail</a></th>
                    {% if admin %}
                        <th><a href="?sort=registration_time&amp;dir={% if sort=='registration_time' and dir=='asc' %}desc{% else %}asc{% endif %}"{% if sort=='registration_time' %} class="sort-{{dir}}"{% endif %}>Registered</a></th>{% if is_granted('ROLE_ADMIN') %}<th></th>{% endif %}
                    {% endif %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if admin or user.showInList == 'public' or (user.showInList == 'login' and is_granted('ROLE_USER')) %}
                <tr {% if not (user.showInList == 'public' or (user.showInList == 'login' and is_granted('ROLE_USER'))) %} class="adminOnly" {% endif %}>
                    <td class="name">{% if admin %}<a href="{{path('user_show', {'id': user.id})}}">{{ user.name }}</a>{% else %}{{ user.name }}{% endif %}</td>
                    <td class="affiliation">{{ user.affiliation }}</td>
                    <td class="country">{{ user.country.name }}</td>
                    {% if is_granted('ROLE_USER') %}
                        <td class="email {% if admin and not user.ShowEmail %} adminOnly{% endif %}">{% if admin or user.ShowEmail %}<a href="mailto:{{ user.email }}">{{user.email}}</a>{% endif %}</td>
                        {% if admin %}
                            <td class="registered">{{ user.registrationTime ? user.registrationTime|date('Y-m-d H:i:s') : '' }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td class="edit">{% if user.RoleLabels|length > 0 %}
                                    <span class="icon-key" title="{{ user.RoleLabels|join(', ')}}"></span>
                                {% endif %} <a href="{{ path('user_edit', {'id': user.id}) }}"><span class="icon-pencil"></span></a></td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}