<div class="worldMap">
    <div class="close"><span class="icon-cross"></span></div>
    <div class="map"><svg xmlns:mapsvg="http://mapsvg.com" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" mapsvg:geoViewBox="-169.110266 83.600842 190.486279 -58.508473" viewbox="0 0 1000 665" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:rgb({{colors.min.r}}, {{colors.min.g}}, {{colors.min.b}})" />
      <stop offset="100%" style="stop-color:rgb({{colors.max.r}}, {{colors.max.g}}, {{colors.max.b}})" />
    </linearGradient>
  </defs>
   <text x="5" y="630" font-weight="bold" fill="black" font-size="10">Number of particpants per country</text>
   <rect x="5" y="650" width="10" height="10" fill="#e3e3e3" />
   <text x="10" y="645" font-size="9" fill="black" text-anchor="middle">0</text> 

   <rect x="25" y="650" width="200" height="10" fill="url(#grad1)" />
   {% for label,pos in labels %}
   <text x="{{ 25 + pos * 200 }}" y="645" font-size="9" fill="black" text-anchor="middle">{{label}}</text> 
   {% endfor %}
<text x="780" y="650" font-size="9" fill="#999">Southern Ocean Decade & Polar Data Forum Week 2021 - Participants' countries</text> 
<text x="780" y="659" font-size="9" fill="#999">Basemap: CC-BY - <a xlink:href="https://mapsvg.com/maps/world" target="_blank">https://MapSVG.com/maps/world</a></text></svg></div>
    <style>
    {% for country in countries %}
        #{{country.id}} {
            fill: {{country.color}}
        }
    {% endfor %}
    </style>
    <script style="text/javascript">
    var registrations = {
    {% for country in countries %}{% if not loop.first %},{% endif %}'{{country.id}}': {{country.registrations}}{% endfor %}
    }</script>
    <div class="open desktop">Click the map for a larger view</div>
    <div id="toolTip"></div>
</div>