{% extends 'base.html.twig' %}

{% set pagetitle = 'Countries' %}

{% block side %}
<div class="sticky">
<div><table class="table" style="width:100%">
    <tr><th>Registrations</th><td>{{ stats.total }}</td></tr>
    <tr><th>Countries</th><td>{{ stats.countries }}</td></tr>
</table></div>
{% include 'user/map.html.twig' %}
</div>
{% endblock %}

{% block main %}
<div class="countrylist">
    {% set continent = '' %}
    {% set n = 0 %}
    {% set r = 0 %}
    {% for country in countries %}
        {% if country.continent != continent %}
            {% if n > 0 %}
                <tfoot>
                <tr><td>Total registrations</td><td>{{ r }}</td></tr>
                <tr><td>Number of countries</th><td>{{ n }}</td></tr>
                </tfoot>
                </table></div>
            {% endif %}
            {% set continent = country.continent %}
            {% set n = 0 %}
            {% set r = 0 %}
            <div id="{{continent}}"><h2>{{ continent }}</h2>
            <table class="table">
        {% endif %}
        {% set n = n + 1 %}
        {% set r = r + country.registrations %}
        <tr><td>{{country.name}}</td><td>{{country.registrations}}</td></tr>
    {% endfor %}
    {% if n > 0 %}
        <tfoot>
        <tr><td>Total registrations</td><td>{{ r }}</td></tr>
        <tr><td>Number of countries</th><td>{{ n }}</td></tr>
        </tfoot>
        </table></div>
    {% endif %}
</div>
{% endblock %}