{{ form_start(form) }}
    {{form_row(form.event)}}
    {{form_row(form.slug)}}
    {{form_row(form.title)}}
    {{form_row(form.intro)}}
    {{form_row(form.description)}}

<div class="togglefield field_hackathon_contact field_multi">
<strong>Contact person(s)</strong>
    <ul class="subform contact" data-prototype="{{ form_widget(form.contact.vars.prototype)|e('html_attr') }}">
    {% for contact in form.contact %}
    <li>{{ form_row(contact) }}</li>
    {% endfor %}
    </ul><button type="button" class="add_item_link" data-collection-holder-class="contact"><span class="icon-plus"></span> Add a person</button>
</div>
<br/><br/>
    
<div class="togglefield field_hackathon_session field_multi">
<strong>Session(s)</strong>
    <ul class="subform hacksession" data-prototype="{{ form_widget(form.session.vars.prototype)|e('html_attr') }}">
    {% for x in form.session %}
    <li>{{ form_row(x) }}</li>
    {% endfor %}
    </ul><button type="button" class="add_item_link" data-collection-holder-class="hacksession"><span class="icon-plus"></span> Add a session</button>
</div>
<br/><br/>
    
    <button class="btn"><span class="icon-floppy-disk"></span> {{ button_label|default('Save') }}</button>
    <div class="formEnd">
{{ form_end(form) }}
</div>
