{% extends 'base.html.twig' %}

{% block title %}Hackathon index{% endblock %}

{% block body %}
    <h1>Hackathon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hackathon in hackathons %}
            <tr>
                <td>{{ hackathon.id }}</td>
                <td>{{ hackathon.title }}</td>
                <td>{{ hackathon.description }}</td>
                <td>
                    <a href="{{ path('hackathon_show', {'slug': hackathon.slug}) }}">show</a>
                    <a href="{{ path('hackathon_edit', {'id': hackathon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hackathon_new') }}">Create new</a>
{% endblock %}
