{% extends 'base.html.twig' %}

{% set pagetitle=hackathon.title ~ ' - Hackathon' %}

{% block main %}
<p><strong>{{hackathon.intro}}</strong></p>
{% if is_granted('ROLE_USER') and hackathon.descriptionRegistered %}
{{hackathon.descriptionRegistered|raw}}
{% else %}
{{hackathon.description|raw}}
{% endif %}

{% if hackathon.contact|length %}
<div>
<h2>Convener{% if hackathon.contact|length > 1%}s{% endif %}</h2>
<ul>
{% for contact in hackathon.contact %}
<li><strong>{{contact.name}}</strong>{% if contact.email %} - <a href="mailto:{{contact.email}}">{{contact.email}}</a>{% endif %}{% if contact.orcid %} - <a href="https://orcid.org/{{contact.orcid}}"><span class="icon-orcid"></span> {{contact.orcid}}</a>{% endif %}{% if contact.bio %}<br/>{{ contact.bio }}{% endif %}</li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}

{% block side %}
<div class="sticky">
{% if is_granted('ROLE_EDIT_PROGRAM') %}
        <div class="admin"><h3>Maintainance</h3><ul>
        <li><a href="{{ path('hackathon_edit', {'id': hackathon.id}) }}">edit</a></li>
        </ul></div>
    {% endif %}
{% if hackathon.event|length %}
<div><ul>
{% for event in hackathon.event %}
<li>{{event}}</li>
{% endfor %}
</ul></div>
{% endif %}

{% if hackathon.presentations|length %}
<div><h3>Sessions</h3>
<div class="timezone"><span class="icon-clock"></span> All times are listed in UTC</div>
<ul>
{% for presentation in hackathon.presentations %}
<li>{% if is_granted(imdis.details_role) and presentation.meetingUrl %}<a href="{{ presentation.meetingUrl }}">{{presentation.programsession.block.date|date('l d F')}} {{presentation.timeStart|date('H:i')}} - {{presentation.timeEnd|date('H:i')}}</a> {% else %}{{presentation.programsession.block.date|date('l d F')}} {{presentation.timeStart|date('H:i')}} - {{presentation.timeEnd|date('H:i')}}{% endif %}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if is_granted(imdis.details_role) and hackathon.links|length %}
<div>
<h3>Documents</h3>
<ul>
{% for link in hackathon.links %}
<li><a href="{{ link.url }}">{{ link.label }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}

</div>
{% endblock %}