{% extends 'base.html.twig' %}

{% set pagetitle=hackathon.title ~ ' - Hackathon' %}

{% block main %}
<p><strong>{{hackathon.intro}}</strong></p>
{{hackathon.description|raw}}
{% endblock %}

{% block side %}
<div class="sticky">
<div><ul>
{% for event in hackathon.event %}
<li>{{event}}</li>
{% endfor %}
</ul></div>
<div><h3>Contact</h3>
<ul>
{% for contact in hackathon.contact %}
<li>{{contact.name}} - <a href="mailto:{{contact.email}}">{{contact.email}}</a></li>
{% endfor %}
</ul>
</div>

<div><h3>Sessions</h3>
<div class="timezone"><span class="icon-clock"></span> All times are listed in UTC</div>
<ul>
{% for session in hackathon.session %}
<li>{{session.date|date('l d F')}} {{session.timeStart|date('H:i')}} - {{session.timeEnd|date('H:i')}}</li>
{% endfor %}
</ul>
</div>

</div>
{% endblock %}